# База данных
DB_NAME=your_db_name
DB_USER=your_username
DB_PASSWORD=your_password
DB_PORT=your_port

# Хост (выбрать один из вариантов)
# Для локального запуска без Docker:
# DB_HOST=localhost

# Для запуска в Docker:
DB_HOST=postgres_db

# JWT (default-secret)
JWT_SECRET=f7d8a2c1b9e543209876abcd543210fe